---
import Layout from "../../layouts/Layout.astro";
---
<Layout title="Ogrodje Open/Sync - Julij 2023">

    <h1>Ogrodje Open/Sync - Julij 2023</h1>

    <p>Vljudno vas vabimo na prvo srečanje ekipe, patreonov in podpornikov Ogrodja.</p>

    <p>Srečali se bomo <strong>12.7.2023</strong> ob <strong>21.00</strong> na <a href="https://discord.gg/KVYSyCauN">Discord
        (invite)</a>.</p>

    <p>Poleg sproščenega pogovora bomo klepetali tudi o</p>

    <ul>
        <li>Statistiki in rezultatih</li>
        <li>Predlogih za prihodnje epizode</li>
        <li>Tehniki in tehnologiji, ki jo uporabljamo</li>
        <li>Lekcijah, ki smo jih pridobili</li>
        <li>Nadgradnjah in partnerstvih, ki jih bomo spletli v prihodnje</li>
    </ul>

    <p>Vmes bomo pili pivo. 🍺 / <a href="https://en.wikipedia.org/wiki/BYOB">BYOB</a></p>

    <p>
        <i>Dodaj v koledar <br/></i>
        <a target="_blank"
           href="https://calendar.google.com/calendar/event?action=TEMPLATE&amp;tmeid=N3Q1MmFocjQ0NGl1YTh2ZGliMmcxMWhodGggM2UyYzU0MTVlZjBkYmE1YTBhNGRiZGQwZmY3NDQ5MmNjNGE2ZWI4OTdjNGJmZTU0YTA1N2JiMWE3YzMxMDkxNEBn&amp;tmsrc=3e2c5415ef0dba5a0a4dbdd0ff74492cc4a6eb897c4bfe54a057bb1a7c310914%40group.calendar.google.com"><img
                border="0" src="https://www.google.com/calendar/images/ext/gc_button1_en-GB.gif"></a>
    </p>

    <p>
        - Oto && Ogrodje
    </p>
</Layout>
