---
import Layout from "../layouts/Layout.astro";
import Channels from "../components/Channels.astro";
import Hero from "../components/Hero.astro";
import Episodes from "../components/Episodes.astro";
---
<Layout title="Ogrodje - Podcast in skupnost" hideFooter={"true"}>
  <main>
    <Hero></Hero>

    <div class="latest">
      <h2>Sveže epizode</h2>
      <Episodes></Episodes>
      <p><small><a href="/epizode">Vse episode</a></small></p>
    </div>

    <div class="channels-outer">
      <Channels></Channels>
    </div>
  </main>
</Layout>
<style lang="scss">
  h3 {
    font-weight: 300;
    margin-top: 30px;
    margin-bottom: 15px;
  }

  .channels-outer {
    margin-top: 20px;
  }
</style>
