---
import Layout from "../layouts/Layout.astro";
import Channels from "../components/Channels.astro";
import Hero from "../components/Hero.astro";
---
<Layout title="Ogrodje - Podcast in skupnost" hideFooter="true">
    <main>
        <Hero></Hero>
        <Channels></Channels>
    </main>
</Layout>
