---
import Layout from "../layouts/Layout.astro";
import SearchForm from "../components/SearchForm.vue";
---
<Layout title="Iskalnik" hideFooter={"true"}>
  <h1>Iskalnik</h1>
  <SearchForm client:load />
</Layout>

