---
import ogrodjeLogo from "../assets/ogrodje-logo-base.png"
import searchIcon from "../assets/icons/search-icon-1.png"
const ogrodjeLogoSrc = `url(${ogrodjeLogo.src})`;
const searchIconSrc = `url(${searchIcon.src})`;
---
<header class="header">
  <div class="ogrodje-logo cell">
    <a href="/" title="Ogrodje">Ogrodje</a>
  </div>

  <div class="nav cell">
    <ul>
      <li><a href="/ljudje" title="Ljudje">Ljudje</a></li>
      <li><a href="/epizode" title="Epizode">Epizode</a></li>
      <li><a href="/dogodki" title="Dogodki">Dogodki</a></li>
      <li class="not-short"><a href="/strategija" title="Strategija">Strategija</a></li>
      <li class="search"><a href="/iskalnik" title="Iskalnik">Iskalnik</a></li>
    </ul>
  </div>
</header>
<style lang="scss" define:vars={{ogrodjeLogoSrc, searchIconSrc}}>
  @import "../_variables.scss";

  $cell-height: 100px;
  $cell-line-height: 100px;

  header.header {
    padding: 0 $lr-offset;
    margin-bottom: 20px;

    .cell {
      display: inline-block;
      height: $cell-height;
      line-height: $cell-line-height;
      vertical-align: middle;
    }

    @media only screen and (max-width: 1000px) {
      .cell {
        height: $cell-height/2;
        line-height: $cell-height/2;
      }
    }

    & a {
      font-family: $special-font;
      text-decoration: none;
    }

    .ogrodje-logo {
      margin-right: 20px;

      a {
        display: block;
        background-image: var(--ogrodjeLogoSrc);
        background-position: left center;
        background-size: contain;
        background-repeat: no-repeat;
        text-indent: -500px;
        overflow: hidden;
        width: $cell-height;
        image-rendering: crisp-edges;
      }


    }

    @media only screen and (max-width: 1000px) {
      .ogrodje-logo {
        margin-right: 0;
        // background-color: red;
      }
    }


    .nav {
      // background-color: #8b055e;

      ul, ul li {
        list-style: none;
        float: left;
        margin: 0;
        padding: 0;
        line-height: $cell-line-height;
      }

      ul li {
        margin-right: 10px;
        padding-left: 10px;
        padding-right: 10px;
      }

      li a {
        display: inline-block;
      }

      ul {
        display: block;
        clear: both;
        float: none;
      }

      li.search {
        a {

          background-image: var(--searchIconSrc);
          background-position: 10px center;
          background-size: 30px;
          background-repeat: no-repeat;
          text-indent: 60px;
          width: 50px;
          padding-left: 10px;
          overflow: hidden;
        }
      }

      @media only screen and (max-width: 1000px) {
        .nav {
          height: 50px;
        }

        ul li {
          margin-right: 0;
          margin-left: 0;
          padding-left: 1px;
          padding-right: 1px;
          line-height: 50px;
          height: 5px;

          a {
            padding-left: 5px;
            padding-right: 5px;

            // background-color: #0ed18b;
          }

        }
      }

      @media only screen and (max-width: 1000px) {
        li.not-short-x {
          display: none;
        }
      }
    }
  }
</style>
