<div class="hero">
  <p class="first">
    Ogrodje je tehnološko / razvijalska skupnost in multimedijska platforma.
  </p>
</div>
<style lang="scss">
  @import "../_variables.scss";

  .hero {
    font-family: $special-font;
    font-size: 61px;
    line-height: 72px;
    font-weight: 100;

    & p {
      padding-top: 0;
      margin: 0 0 40px;
    }

    .second {
      font-size: 40px
    }
  }

  @media only screen and (max-width: 1000px) {
    .hero, p, .hero p.second {
      font-size: 23px;
      line-height: 30px;
      font-weight: 100;
    }
  }
</style>
