---
import Main from "../layouts/Layout.astro";
// import Post from "../components/Post.astro";
const hygraph_endpoint = await import.meta.env.HYGRAPH_ENDPOINT;
const pageSize = 3;
const response = await fetch(
    hygraph_endpoint,
    {
        method: "POST",
        headers: {
            "Content-Type": "application/json",
            Accept: "application/json",
        },
        body: JSON.stringify({
            query: `
                query AllPeople($size: Int) {
                  people(first: $size, where: {}) {
                    id
                    nickname
                    fullName
                    avatar {
                      id
                    }
                  }
                }        
        `,
            variables: {size: pageSize}
        }),
    }
);

const data = await response.json();
const {people} = data.data;
---

<div class="people">
    {people.map((person) => {
        return (
                <h2>
                    <a href={"/ljudje/"+ person.id}>
                    {person.fullName} / {person.id}
                    </a>
                </h2>)
    })}
</div>
