@use "variables";

.episode {
  position: relative;

  & a {
    text-decoration: none;
  }

  .code, .show {
    display: inline;
    margin-right: 5px;
  }

  .name {
    font-family: variables.$special-font;
    display: inline;
    color: var(--default_text);
  }

  margin-bottom: 10px;
}

.show {
  padding: 4px 10px;
  mix-blend-mode:difference;

  &[data-show="Borderless"] {
    background-color: variables.$ogrodje-zagon-blue;
    color: white;
  }

  &[data-show="Zagon"] {
    background-color: variables.$ogrodje-borderless-green;
    color: white;
  }

  &[data-show="META"] {
    background-color: variables.$ogrodje-meta;
    color: white;
  }

  &[data-show="Bytes"] {
    background-color: variables.$ogrodje-bytes;
    mix-blend-mode: difference;
  }
}
