
.episode {
  position: relative;

  & a {
    text-decoration: none;
  }

  .code, .show {
    display: inline;
    margin-right: 5px;
  }

  .name {
    font-family: Iosevka, 'Iosevka Web', sans-serif;
    display: inline;
    color: white;
  }

  margin-bottom: 10px;
}

.show {
  padding: 4px;
  padding-left: 10px;
  padding-right: 10px;

  &[data-show="Borderless"] {
    background-color: $ogrodje-zagon-blue;
    color: white;
  }

  &[data-show="Zagon"] {
    background-color: $ogrodje-borderless-green;
    color: white;
  }

  &[data-show="META"] {
    background-color: $ogrodje-meta;
    color: white;
  }

  &[data-show="Bytes"] {
    background-color: $ogrodje-bytes;
    // color: white;
    mix-blend-mode:difference;
  }
}
