// Fonts
$main-font: sans-serif;
$special-font: 'Iosevka Web', Iosevka, sans-serif;
$main-font-size: 14pt;
$main-line-height: 2em;

// Colors
$color-second: #8b055e;

// Layout
$layout-max-width: 1080px;

$lr-offset: 0px;
