// Fonts
@import '@fontsource/iosevka';
@import '@fontsource/iosevka/100';

$main-font: sans-serif;
$special-font: 'Iosevka', monospace, sans-serif;
$main-font-size: 13pt;
$main-line-height: $main-font-size * 1.5;

// Colors
$color-second: #8b055e;

// Show colors
$ogrodje-main-white: #FFFFFF;
$ogrodje-zagon-blue: #0404a4;
$ogrodje-borderless-green: #0ed18b;
$ogrodje-meta: $color-second;
$ogrodje-bytes: #f4f416;

// Layout
$layout-max-width: 1080px;
$lr-offset: 0px;


.special-font {
  font-family: $special-font;

  &.bold {
    font-weight: 700;
  }

  &.light {
    font-weight: 100;
  }
}
