---
import ogrodjeLogoIcon from "../assets/ogrodje-logo-base.png"

export interface Props {
  title: string;
}

const {title} = Astro.props;
const getTitle = () => title || 'Ogrodje Admin'
const ogrodjeLogoSrc = `url(${ogrodjeLogoIcon.src})`;
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="description" content="Ogrodje je tehnološko / razvijalska skupnost in multimedijska platforma.">
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="icon" type="image/png" href={ogrodjeLogoIcon.src}/>
  <link rel="dns-prefetch" href="https://media.graphassets.com/"/>
  <link rel="dns-prefetch" href="https://iosevka-webfonts.github.io/"/>
  <link rel="stylesheet" href="https://iosevka-webfonts.github.io/iosevka/iosevka.css" type="text/css">
  <title>{getTitle()}</title>
</head>
<body>
  <slot></slot>
</body>

