---
import Channels from "../components/Channels.astro";

export interface Props {
    title: string;
    hideFooter: string;
}

import Header from "../components/Header.astro";
const {title, hideFooter} = Astro.props['frontmatter'] || Astro.props;
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="description" content="Ogrodje Podcast">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg"/> -->
    <link href="https://iosevka-webfonts.github.io/iosevka/iosevka.css" rel="stylesheet" type="text/css">
    <title>{title}</title>
</head>
<body>
<div class="big-wrap">
    <Header></Header>
    <div class="content-wrapper">
        <div class="content">
            <slot/>
        </div>
    </div>
    {(hideFooter !== "true") && (
            <footer>
                <div class="footer">
                    <Channels></Channels>
                </div>
            </footer>
    )}
</div>
</body>
</html>
<style lang="scss" is:global>
  @import "../_variables.scss";

  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  html {
    font-family: $main-font;
    background-color: #000;
    color: white;

    font-size: $main-font-size;
    line-height: $main-line-height;
    //font-size: 1em;
    //line-height: 1.65em;
  }

  h1, h2, h3 {
    font-family: 'Iosevka Web', sans-serif;
  }

  a {
    color: #6a676c;

    &:hover {
      color: #6a676c;

    }
  }

  body {
    padding: 0 50px 50px;
  }

  @media only screen and (max-width: 1000px) {
    body {
      padding: 0 10px 10px;
    }
  }

  /*

  a {
      color: #999;
      &:hover {
          color: #666;
      }
  }

   */

  .big-wrap {
    max-width: $layout-max-width;
    margin: 0 auto;

    .content-wrap {
      .content {

      }
    }
  }

  .footer {
    clear: bottom;
    float: none;
    margin-top: 100px;
    border-top: 2px solid white;
    padding: 0 $lr-offset;
    padding-top: 50px;


    & img {
      filter: grayscale(100%);
    }

    & a:hover img {
      filter: grayscale(0%);
    }
  }
</style>
