---
import Channels from "../components/Channels.astro";
import ogrodjeLogoIcon from "../assets/ogrodje-logo-base.png"

export interface Props {
  title: string;
  hideFooter?: string;
}

import Header from "../components/Header.astro";
const {title, hideFooter} = (Astro.props as any)['frontmatter'] || Astro.props;
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="description" content="Ogrodje je tehnološko / razvijalska skupnost in multimedijska platforma.">
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="icon" type="image/png" href={ogrodjeLogoIcon.src}/>
  <link rel="dns-prefetch" href="https://media.graphassets.com/"/>
  <title>{title}</title>
</head>
<body>
<div class="big-wrap">
  <Header></Header>
  <div class="content-wrapper">
    <div class="content">
      <slot/>
    </div>
  </div>
  {(hideFooter !== "true") && (
    <footer>
      <div class="footer">
        <Channels></Channels>
      </div>
    </footer>
  )}
</div>
</body>
</html>
<style lang="scss" is:global>
  @use "../global";
</style>
