---
import Layout from "../../layouts/Layout.astro";
import {PeopleService} from "../../services/PeopleService";
import People from "../../components/People.astro";
const people = await PeopleService.allPeople(300);
---
<Layout title="Ljudje">
  <h1>Ljudje</h1>
  <p>Ogrodje smo <strong>ljudje</strong>.</p>
  <People people={people}/>
</Layout>

